#root {
  width : 100%;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* { box-sizing: border-box; }
html, body { 
  margin: 0; 
  padding: 0; 
  font-family: 'Roboto';
  font-size: 14px;
  color: black;
}


.page{
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  width: 100%;
}

/*header*/
.site-header {
  display: flex;             
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #dc4c3e;
  border:none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
}

.menu {
  background: none;
  border: none;
  padding-left: 20px;
  justify-content: center;
  display: flex;
}

.search-container {
background: rgba(255,255,255, 0.1);
display: flex;
padding: 5px 10px;
border-radius: 6px;
justify-content: center;
}

.search-input {
  border : none;
  background: none;
}

.search-input::placeholder {
  color: white;
}

.search-icon {
  width: 15px;
}

.header-right {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto; 
  color: #ffffff;
}

.task-counter {
  margin-left: 5px;
}

/*layout*/
.site-main {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
  /* min-height: calc(100vh - 60px); */
}

/*navigation*/
.nav {
  background: #fefbf2;
  height: 100%;
  min-height: calc(100vh - 60px);
}

/* navigation menu */
.nav-menu {
  list-style: none;
  padding-top: 10px;
}

.nav-menu li {
  margin-bottom: 8px;
}

.nav-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.nav-menu a {
  align-items: center;
  justify-content: left;
  display: flex;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  border-radius: 6px;
}

.nav-count {
  color: #7e7d79;
  margin-left: 3px;
  font-size: 12px;
}

/*main page*/
.article {
  background: white;
  padding-left: 50px;
}

.article h1 {
  font-size: 20px;
  font-weight:900;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  margin-bottom: 8px;
}

hr {
  opacity: 0.5;
  border: none;
  border-top: 1px solid #ccc;
  width: 90%;
  margin: 8px 10% 8px 0;
}

input[type="checkbox"] {
  appearance: none; 
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: white;
  border: 1.5px solid #ccc;
  cursor: default;
  box-sizing: border-box;
}

input[type="checkbox"]:checked {
  background-color: #ccc;
  border-color: #ccc;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}


@media (max-width: 480px) {
  .nav {
    display: none;
  }
  .site-main {
    grid-template-columns: 1fr;
  }
  .article {
    width: 100%;
  }

}